body {
    background-color: blanchedalmond;
}
h1 {
    color: rgb(1, 1, 86);
    font-family: 'Lucida Console', monospace;
    margin-left: 60px;
}
h2 {
    margin-left: 60px;
}
p {
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 20px;
}
ul {
    margin-left: 25px;
}